.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.blue {
  color: #00bebe;
}
.green {
  color: #009c00;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 80px;
}
.profile-card {
  animation: ride 0.5s ease-in;
}
.main-logo-img {
  animation: ride 0.4s ease-in;
  height: 350px;
  border-radius: 40px;
}
.profile-card--name {
  color: #6500ff;
}
.profile-skills--menu {
  padding: 5px 0;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
.profile-skills--item {
  border-radius: 10px;
  border: 1px solid #fe3f3f;
  padding: 5px;
}
.menu--item-1 {
  border-color: #00bebe;
}
.menu--item-2 {
  border-color: #009c00;
}
.profile-projects--menu {
  box-shadow: 0 1px 5px rgba(113, 78, 160, 0.8);
  background: #ececec;
  border-radius: 20px;
  padding: 10px;
  color: #858484;
}
.projects-menu--item {
  padding: 10px;
}
.login-img {
  width: 40px;
}
