@import "vars";
.main-content {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 150px !important;
}
.profile-card {
  animation: @animation-ride;
  max-width: 400px;
  &--name {
    color: @primary-color;
  }
  &--menu {
    font-family: var(--bs-body-font-family);
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 5px;
  }
}
.main-logo-img {
  animation: @animation-ride;
  height: 350px;
  border-radius: 40px;
}
.card--menu-item {
  border-radius: 10px;
  line-height: 1.3rem;
  border: 1px solid black;
  padding: 5px;
  &:hover{
    transform: scale(1.09);
  }
  &__1{
    border-color: @color-blue--light;
  }
  &__2 {
    border-color: @color-violet;
  }
  &__3 {
    border-color: @color-orange;
  }
  &__4 {
    border-color: @color-blue;
  }
  &__5 {
    border-color: @color-yellow;
  }
  &__6 {
    border-color: @color-blue--dark;
  }
  &__7 {
    border-color: @color-pink;
  }
  &__8 {
    border-color: @color-pink--dark;
  }
}
.profile-projects--menu {
  display: flex;
  flex-flow: wrap column;
  box-shadow: @box-shadow;
  border-radius: 20px;
  padding: 10px;
  color: darken(@color-gray, 20%);
}
.projects-menu--item {
  padding: 10px;
  font-size: 1.5rem;
}
.login-img {
  width: 40px;
}