.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.light-blue {
  color: #00bebe;
}
.blue {
  color: #3963e9;
}
.green {
  color: #009c00;
}
.orange {
  color: #ec5222;
}
.yellow {
  color: #b4a600;
}
.dark-blue {
  color: #254e85;
}
.violet {
  color: #5400c4;
}
.pink {
  color: #cd6799;
}
.dark-pink {
  color: #7308f5;
}
