.dark-theme {
  transition: 0.4s ease-in-out all;
  background-color: #161617 !important;
  color: #969696 !important;
}
.dark-theme body {
  background-color: #19191a;
  transition: background-color ease-in-out 0.4s;
}
.dark-theme .modal-close-button {
  background-color: #161617;
}
.dark-theme h5 {
  color: #161617 !important;
}
.dark-theme .control-mark::before,
.dark-theme .control-mark::after {
  background-color: #969696;
}
.dark-theme .modal-container a {
  color: #969696;
}
.dark-theme .modal-auth {
  background-color: #161617;
}
.dark-theme .modal-title {
  color: #969696;
}
.dark-theme .btn:hover {
  background-color: #19191a;
}
.dark-theme .profile-projects--menu {
  background-color: #161617;
  transition: 0.4s ease-in-out all;
}
.dark-theme .modal-content {
  background-color: #19191a;
}
