.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.blue {
  color: #00bebe;
}
.green {
  color: #009c00;
}
.header {
  animation: ride 0.4s ease-in;
  height: 92px;
}
.header-content {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.header-nav--menu {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #6500ff;
  border-top: 1px solid #6500ff;
}
.header-link {
  color: #6500ff;
}
.header-menu-icon {
  display: none;
}
