.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.blue {
  color: #00bebe;
}
.green {
  color: #009c00;
}
.skills {
  animation: ride 0.4s ease-in;
  padding: 0 20px;
}
.title {
  text-align: center;
  font-size: 40px;
  color: #969696;
  margin: 100px 0 30px;
}
.skills-img {
  width: 144px;
}
.sub-text {
  color: #6500ff;
  text-align: center;
}
.skills-title--sub {
  color: #fe3f3f;
  text-align: center;
  line-height: 40px;
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.skills-box {
  margin: 20px auto;
  padding: 10px;
  border-radius: 40px;
  max-width: 800px;
  box-shadow: 0 1px 5px rgba(113, 78, 160, 0.8);
}
