.red {
  color: #fe3f3f;
}
.gray {
  color: #969696;
}
.blue {
  color: #00bebe;
}
.green {
  color: #009c00;
}
.header {
  animation: ride 0.4s ease-in;
  height: 92px;
}
.header-content {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.header-nav--menu {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #6500ff;
  border-top: 1px solid #6500ff;
}
.header-link {
  color: #6500ff;
}
.header-menu-icon {
  display: none;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 80px;
}
.profile-card {
  animation: ride 0.5s ease-in;
}
.main-logo-img {
  animation: ride 0.4s ease-in;
  height: 350px;
  border-radius: 40px;
}
.profile-card--name {
  color: #6500ff;
}
.profile-skills--menu {
  padding: 5px 0;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
.profile-skills--item {
  border-radius: 10px;
  border: 1px solid #fe3f3f;
  padding: 5px;
}
.menu--item-1 {
  border-color: #00bebe;
}
.menu--item-2 {
  border-color: #009c00;
}
.profile-projects--menu {
  box-shadow: 0 1px 5px rgba(113, 78, 160, 0.8);
  background: #ececec;
  border-radius: 20px;
  padding: 10px;
  color: #858484;
}
.projects-menu--item {
  padding: 10px;
}
.login-img {
  width: 40px;
}
.skills {
  animation: ride 0.4s ease-in;
  padding: 0 20px;
}
.title {
  text-align: center;
  font-size: 40px;
  color: #969696;
  margin: 100px 0 30px;
}
.skills-img {
  width: 144px;
}
.sub-text {
  color: #6500ff;
  text-align: center;
}
.skills-title--sub {
  color: #fe3f3f;
  text-align: center;
  line-height: 40px;
}
.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.skills-box {
  margin: 20px auto;
  padding: 10px;
  border-radius: 40px;
  max-width: 800px;
  box-shadow: 0 1px 5px rgba(113, 78, 160, 0.8);
}
@media (max-width: 605px) {
  .header-link {
    font-size: 15px;
  }
}
@media (max-width: 535px) {
  .header-link,
  .btn {
    font-size: 13px !important;
  }
}
@media (max-width: 565px) {
  .skills-img {
    width: 120px !important;
  }
  .skills-list--item svg {
    width: 120px !important;
  }
}
@media (max-width: 490px) {
  .page {
    font-size: 15px !important;
  }
  .main-logo-img {
    height: 300px;
  }
  .header-nav--menu {
    gap: 10px;
  }
}
@media (max-width: 470px) {
  .header-link {
    font-size: 10px;
  }
}
@media (max-width: 465px) {
  .skills-img {
    width: 100px !important;
  }
  .skills-list--item svg {
    width: 100px !important;
  }
  header .container {
    gap: 15px;
  }
}
@media (max-width: 456px) {
  .header-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header-menu-icon::after,
  .header-menu-icon::before,
  .header-menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #111;
  }
  .dark-theme .header-menu-icon::after,
  .dark-theme .header-menu-icon::before,
  .dark-theme .header-menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #969696;
  }
  .header-menu-icon::after,
  .header-menu-icon::before {
    content: '';
  }
  .header-menu-icon::after {
    bottom: 0;
  }
  .header-menu-icon::before {
    top: 0;
  }
  .header-menu-icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .header-menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  .header-menu-icon.active::after {
    top: 50%;
    transform: rotate(45deg);
  }
  .header-menu-icon.active span {
    transform: scale(0) translate(0, -50%);
  }
  .header-nav {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }
  .dark-theme .header-nav {
    background-color: #242424;
  }
  .header-nav.active {
    opacity: 1;
    z-index: 3;
  }
  .header-nav--menu {
    flex-direction: column;
    border: none;
    align-items: center;
    margin-top: 80px;
  }
  .header-link {
    font-size: 32px !important;
  }
  .header-nav--menu {
    gap: 40px;
  }
  .btn {
    z-index: 2;
  }
}
@media (max-width: 420px) {
  .error h2:nth-child(2) {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .header-content {
    gap: 10px 40px;
  }
}
@media (max-width: 400px) {
  .skills-title--sub,
  .sub-text {
    font-size: 15px;
  }
  .main-logo-img {
    height: 250px;
  }
  .skills-img {
    width: 80px !important;
  }
  .skills-list--item svg {
    width: 80px !important;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trans {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ride {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.light-theme {
  background-color: #fff;
  transition: 0.4s ease-in-out background-color;
}
.dark-theme {
  transition: 0.4s ease-in-out all;
  background-color: #161617 !important;
  color: #969696 !important;
}
.dark-theme body {
  background-color: #19191a;
  transition: background-color ease-in-out 0.4s;
}
.dark-theme h5 {
  color: #161617 !important;
}
.dark-theme .btn:hover {
  background-color: #19191a;
}
.dark-theme .profile-projects--menu {
  background-color: #161617;
  transition: 0.4s ease-in-out all;
}
.dark-theme .modal-content {
  background-color: #19191a;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
  padding-bottom: 10px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  font-size: smaller;
}
@font-face {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Montserrat-Medium.ttf) format("ttf");
}
html {
  scroll-behavior: smooth;
}
.page {
  animation: opac 0.5s;
  min-width: 350px !important;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
}
.page.lock {
  overflow: hidden;
}
.visually-hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  transition: 0.2s ease-in-out all;
  color: #6500ff;
  text-decoration: none;
}
a:hover {
  color: #29026f;
}
.text-logo {
  color: #6500ff;
}
.btn {
  transition: 0.3s ease-in-out all;
  color: #fff;
  font-size: inherit;
  font-family: Montserrat, sans-serif;
  background-color: #6500ff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #6500ff;
}
.btn:hover {
  color: #6500ff;
  background-color: #fff;
  border: 2px solid #6500ff;
}
.main {
  padding: 20px;
  flex: 1 1 auto;
}
.error {
  color: #fe3f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(-15vh);
  min-height: 300px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.carousel {
  width: 70%;
  margin: 0 auto;
}
.carousel-item img {
  border-radius: 10px;
}
.carousel-indicators {
  margin-bottom: 0;
}
.modal-header {
  border-bottom: 1px solid #6500ff;
}
.modal-body {
  text-align: center;
}
.modal-footer {
  border: none;
}
