*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar { width: 0; }
body{
    animation: opac 0.5s;
    min-width: 300px;
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
body.dark-theme{
    background-color: #19191A;
    transition: background-color ease-in-out 0.4s;
}
ul{
    padding: 0;
    list-style-type: none;
}
a, a:visited{
    color: #714EA0;
    text-decoration: none;
}
a:hover, .btn:hover{
    color: #a574fc;
}
h2{
    font-size: 30px;
    margin:0;
}
img{
    border-radius: 20%;
}
/*span*/
.gray{color: #969696;}
.blue{color: #00bebe;}
.pink{color: #714EA0;}
.red{color: #fe3f3f;}


/* container / wrapper*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*header*/
.header{
    animation: ride 0.4s ease-in;
    /*border-bottom: 1px solid rgba(113, 78, 160,0.5);*/
    height: 92px;
}
.header-content{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
}
.text-logo{
    color: #714EA0;
}
.btn{
    color: white;
    border: none;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    background-color: #6500ff;
    padding: 10px;
    border-radius: 50px;
}
.dark-theme{
    transition: 0.4s ease-in-out background-color;
    background-color: #161617 !important;
    color:#969696 !important;
}
.dark-theme h5{
    color: #161617 !important;
}
.light-theme{
    background-color: #fff;
    transition: 0.4s ease-in-out background-color;
}
.header-menu{
    display: flex;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid rgba(113, 78, 160,0.5);
    border-top: 1px solid rgba(113, 78, 160,0.5);
}
.header-link{
    color:#714EA0;
}
/*main section*/
.main{
    margin-top: 80px;
    padding: 20px;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.profile-card{
    animation: ride 0.5s ease-in;
    align-self: center;
}
.card-name{
    color: #714EA0;
}
.main-menu{
    padding: 5px 0;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}
.main-menu__item{
    text-align: center;
    border-radius: 15px;
    border: 1px solid #fe3f3f;
    padding: 5px;
}
.main-menu li:first-child{
    border-color: #00bebe;
}
.info-menu{
    box-shadow: 0 1px 5px rgba(113, 78, 160,0.5);
    background: #ececec;
    border-radius: 20px;
    padding: 10px;
    color: #858484;
}
.info-menu__item{
    padding: 15px 10px;
}
.main-logo-img{
    animation: ride 0.4s ease-in;
    height:350px;
}
.login-img{
    width: 40px;
}
sup a{
    font-size: smaller;
    font-style: italic;
}

/*skills*/
section h2{
    margin: 0 0 10px 0;
}
.skills-inner{
    animation: ride 0.4s ease-in;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 0 20px;
}
.skills-text{
    text-align: center;
}
.skills-img{
    width: 144px;
}

.skills-text__item{
    font-size: 50px;
}
.skills-text-2{
    text-align: center;
}
.skills-text-3{
    text-align: center;
    line-height: 50px;
}
.skills-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.skills-box{
    margin: 20px auto;
    padding: 10px;
    border-radius: 40px;
    max-width: 800px;
    box-shadow: 0 1px 5px rgba(113, 78, 160,0.5);
}
.skills-list__item{
    display: flex;
}
.skills-list__item  img{
    border-radius: 0;
}
/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    padding-bottom: 10px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0 20px;
    font-size: smaller;
}
/*error.html*/
.error {
    color: #fe3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 230px);
    min-height: 300px;
}
/* modal window */
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%) translateY(-50%);
    transition: transform ease-in-out .4s;
}
.modal-container-close {
    display: none;
}
input{
    outline:none;
    border: none;
}
.modal {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
}
.modal-auth {
    border-radius: 30px;
    width: 360px;
}
.modal-close-button {
    position: absolute;
    padding: 0;
    top: 7px;
    right: 10px;
    width: 35px;
    height: 44px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.modal-title {
    margin: 0 0 24px 0;
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    color: #000000;
}
.auth-form .field-group {
    margin: 0 0 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form-user-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form .field {
    width: 60%;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    background-color: rgba(133, 132, 132, 0.2);
}
.auth-form-recovery {
    line-height: 22px;
    color: #000000;
}
.auth-form-button {
    width: 150px;
}
.auth-form-register {
    color: #000000;
}
/*adaptive*/
@media(max-width: 565px){
    body{
        font-size: 15px;
    }
    .skills-img{
        width: 120px !important;
    }
    .skills-list__item svg{
        width: 120px !important;
    }
}

@media(max-width: 465px){
    body{
        font-size: 15px;
    }
    .main-logo-img{
        height: 300px;
    }
    .skills-img{
        width: 100px !important;
    }
    .skills-list__item svg{
        width: 100px !important;
    }
    header .container{
        gap: 15px;
    }
}
@media(max-width: 410px){
    .header-content{
        justify-content: center;
        gap: 10px 40px;
    }
    .theme{
        margin: 0 auto;
    }
}
@media (max-width: 420px) {
    .error h2:nth-child(2){
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .main-logo-img{
        height: 250px;
    }
    .header{
        height: 46px;
    }
    .skills-img{
        width: 80px !important;
    }
    .skills-list__item svg{
        width: 80px !important;
    }
}
@media (max-width: 335px) {
    .header-link{
        font-size: 12px;
    }
    .header-logo-img{
        width: 20px;
    }
}
@keyframes opac {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

@keyframes trans {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(180deg);
    }
    70%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0%{
        transform: scale(-1.5);
    }
    30%{
        transform: scale(1);
    }
    70%{
        transform: scale(-1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes ride {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}