@import "footer";
@import "header";
@import "vars";
@import "author";
@import "adaptive";
@import "modal";
@import "skills";
@import "keyframes";
@import "dark-theme";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  animation: opac 0.5s;
  min-width: 300px;
  margin: 0;
  padding: 0;
  font-family: @primary-font;
  font-size: 20px;
  &.lock {
    overflow: hidden;
  }
}
.visually-hidden {
  visibility: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  transition: 0.2s ease-in-out all;
  color: @primary-color;
  text-decoration: none;
  &:hover{
    color: darken(#a574fc, 50%);
  }
}
h2 {
  font-size: 30px;
  margin: 0;
}
.gray {
  color: @color-gray;
}
.blue {
  color: #00bebe;
}
.pink {
  color: @primary-color;
}
.red {
  color: @color-red;
}
.green {
  color: #009c00;
}
.text-logo {
  color: @primary-color;
}
.btn {
  transition: 0.3s ease-in-out all;
  color: white;
  font-size: inherit;
  font-family: @primary-font;
  background-color: @primary-color;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid @primary-color;
  &:hover {
    color: @primary-color;
    background-color: #fff;
  }
}
.light-theme {
  background-color: #fff;
  transition: 0.4s ease-in-out background-color;
}
.main {
  padding: 20px;
}

