*{margin: 0;padding: 0;}
html{
    scroll-behavior: smooth;
}
body{
    animation: opac 0.5s;
    min-width: 300px;
    margin: 0;padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #19191A;*/
    font-size: 20px;
}
body.dark-theme{
    background-color: #1f1f1f;
}

ul{
    padding: 0;
    list-style-type: none;
}
a, a:visited{
    color: #714EA0;
    text-decoration: none;
}
a:hover, a:focus, .btn-theme:hover{
    color: #9f60fc;
}
h2{
    font-size: 30px;
    margin:0;
}
img{
    border-radius: 20%;
}
/*span*/
.gray{color: #969696;}
.blue{color: #00bebe;}
.pink{color: #714EA0;}
.red{color: #fe3f3f;}


/* container / wrapper*/
.container{
    padding: 15px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
/*header*/
.header{
    animation: ride 0.4s ease-in;
    border-bottom: 1px solid rgba(113, 78, 160,0.5);
    height: 70px;

}
header .container{
    height: calc(100% - 30px);
    justify-content: space-between;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.text-logo{
    color: #714EA0;
}
.btn-theme{
    color: #714EA0;
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
}
.dark-theme{
    transition: 0.4s ease-in-out background-color;
    background-color: #161617 !important;
}
.dark-theme h5{
    color: #161617 !important;
}
.light-theme{
    background-color: #fff;
    transition: 0.4s ease-in-out background-color;
}
.header-menu{
    display: flex;
    gap: 20px;
}
.header-link{
    color:#714EA0;
}
/*main section*/
.main{
    margin-top: 80px;
}
.profile-card{
    animation: ride 0.5s ease-in;
    align-self: center;
}
.card-name{
    color: #714EA0;
}
.main-menu{
    padding: 5px 0;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}
.main-menu-item{
    text-align: center;
    border-radius: 15px;
    border: 1px solid #fe3f3f;
    padding: 5px;
}
.main-menu li:first-child{
    border-color: #00bebe;
}
.info-menu{
    box-shadow: 0 1px 5px rgba(113, 78, 160,0.5);
    background: #ececec;
    border-radius: 20px;
    padding: 10px;
    color: #858484;
}
.info-menu-item{
    padding: 15px 10px;
}
.main-logo-img{
    animation: ride 0.4s ease-in;
    height:350px;
}
.login-img{
    width: 40px;
}
sup a{
    font-size: smaller;
    font-style: italic;
}

/*skills*/
section h2{
    margin: 0 0 10px 0;
}
.skills-inner{
    animation: ride 0.4s ease-in;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 0 20px;
}
.skills-text{
    text-align: center;
}
.skills-img{
    width: 144px;
}

.skills-text__item{
    font-size: 50px;
}
.skills-text-2{
    text-align: center;
}
.skills-text-3{
    text-align: center;
    line-height: 50px;
}
.skills-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.skills-box{
    margin: 20px auto;
    padding: 10px;
    border-radius: 40px;
    max-width: 800px;
    box-shadow: 0 1px 5px rgba(113, 78, 160,0.5);
}
.skills-item{
    display: flex;
}
.skills-item  img{
    border-radius: 0;
}
/*footer*/
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:0 20px;
    font-size: smaller;
    margin: 0 0 20px 0;
}
/*error.html*/
.error {
    color: #fe3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    min-height: 300px;
}

/*adaptive*/
@media(max-width: 565px){
    body{
        font-size: 15px;
    }
}

@media(max-width: 465px){
    body{
        font-size: 15px;
    }
    .main-logo-img{
        height: 300px;
    }
    .header-logo{
        display: none;
    }
    .skills-img{
        width: 100px;
    }
    .skills-item svg{
        width: 100px;
    }
    header .container{
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width: 400px) {
    .main-logo-img{
        height: 250px;
    }
    .header{
        height: 46px;
    }
    .theme{
        display: none;
    }
}

@keyframes opac {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.3;
    }
    60%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

@keyframes trans {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(180deg);
    }
    70%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes scale {
    0%{
        transform: scale(-1.5);
    }
    30%{
        transform: scale(1);
    }
    70%{
        transform: scale(-1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes ride {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}