// main: style.less
@primary-color: #6500ff;
@color-red: #fe3f3f;
@color-gray: #969696;
@color-blue: #00bebe;
@color-green: #009c00;
@Montserrat-R: Montserrat, sans-serif;
@Montserrat-B: Montserrat, sans-serif;
@Montserrat-M: Montserrat, sans-serif;
.red{
  color: @color-red;
}
.gray{
  color: @color-gray;
}
.blue{
  color: @color-blue;
}

.green{
  color: @color-green;
}

