// main: style.less
@primary-color: #6500ff;
@color-red: #fe3f3f;
@color-gray: #969696;
@color-blue: #00bebe;
@color-green: #009c00;
@Montserrat: "Montserrat", sans-serif;
@box-shadow:0 1px 5px 1px rgba(113, 78, 160, 0.9);
@animation-ride: ride 0.4s ease-in-out;
@dark-theme-color:#19191a;
.red{
  color: @color-red;
}
.gray{
  color: @color-gray;
}
.blue{
  color: @color-blue;
}

.green{
  color: @color-green;
}

